<footer>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <span class="text-info">&copy; 2017 Carrboro Family Clinic </span> | <small>104 W. NC Hwy. 54, Ste. JJ | Carrboro, NC 27510</small> |
                <!-- font awesome icons -w3school -->
                <a target="_blank" href="https://www.facebook.com/Carrboro-Family-Clinic-475887932777521/"><i class="fa fa-facebook"></i></a>
                &nbsp;
                <a target="_blank" href="https://gmail.com"><i class="fa fa-envelope-o"></i></a>
                &nbsp;
                <a target="_blank" href="https://twitter.com/cbfamilyclinic"><i class="fa fa-twitter"></i></a>
                &nbsp;
                |
                  <%= link_to "Home", root_path %>
                 |
                  <%= link_to "About", about_path %>
                 |
                  <%= link_to "Gallery", gallery_path %>
                  |
                  <%= link_to "Reviews", blog_path %>
                  |
                  <%= link_to "Contact Us", contact_path %>
                  |
                <div class="fb-like" data-href="https://www.facebook.com/Carrboro-Family-Clinic-475887932777521/?pnref=lhc" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

            </div>
        </div>
    </div>
</footer>
